@page
@model AskerTracker.Pages.Items.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control"/>
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control"/>
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Amount" class="control-label"></label>
                <input asp-for="Item.Amount" class="form-control"/>
                <span asp-validation-for="Item.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Comment" class="control-label"></label>
                <textarea asp-for="Item.Comment" class="form-control"></textarea>
                <span asp-validation-for="Item.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Value" class="control-label"></label>
                <input asp-for="Item.Value" class="form-control"/>
                <span asp-validation-for="Item.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.LenderId" class="control-label"></label>
                <select asp-for="Item.LenderId" class="form-control" asp-items="ViewBag.LenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Item.OwnerId" class="control-label"></label>
                <select asp-for="Item.OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item.IsTeamProperty"/> @Html.DisplayNameFor(model => model.Item.IsTeamProperty)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}