@page
@model Asker.Pages.ItemTransactions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ItemTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemTransaction.TransactionDate" class="control-label"></label>
                <input asp-for="ItemTransaction.TransactionDate" class="form-control" />
                <span asp-validation-for="ItemTransaction.TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemTransaction.Amount" class="control-label"></label>
                <input asp-for="ItemTransaction.Amount" class="form-control" />
                <span asp-validation-for="ItemTransaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemTransaction.Comment" class="control-label"></label>
                <textarea asp-for="ItemTransaction.Comment" class="form-control"></textarea>
                <span asp-validation-for="ItemTransaction.Comment" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ItemTransaction.OwnershipChange" /> @Html.DisplayNameFor(model => model.ItemTransaction.OwnershipChange)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
