@using AskerTracker.Web.ViewComponents
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Asker</title>
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Asker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Domain" asp-page="/Members/Index">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Domain" asp-page="/MembershipFees/Index">Fees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Domain" asp-page="/Trainings/Index">Trainings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Domain" asp-page="/TestingEvents/Index">Testing Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Domain" asp-page="/TestingResults/Index">Testing Results</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Domain" asp-page="/Items/Index">Items</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Domain" asp-page="/ItemTransactions/Index">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Domain" asp-page="/ASquads/Index">A Squad</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">

    @{
        try
        {
            if (Model?.Message != null)
            {
                <partial name="_StatusMessage" model="Model.Message"/>
            }
        }
        catch
        {
            // ignored
        }
    }

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        <span>Hello</span>
        <email Content="Contact us" Address="test@mail.com"></email>
        @await Component.InvokeAsync(typeof(MembersCountViewComponent), new {title = ViewData["Title"]})
        &copy; 2021 - Asker - <a asp-area="" asp-page="/Privacy">Privacy</a>
        @await RenderSectionAsync("footer", false)
    </div>
</footer>

<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>