@page
@model AskerTracker.Pages.Members.ClientMembers

@{
}

<h2>Client Members</h2>

<table class="table" id="members"></table>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="~/node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css"/>
    <script type="text/javascript" src="~/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/node_modules/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>

    <script>
        
        $(function (){
            $.ajax("/api/members", {
                method: "get"
            })
            .then(function (response){
                $('#members').dataTable({
                data: response, 
                columns: [
                    { "data": "fullName" },
                    { "data": "nickname" },
                    { "data": "phoneNumber" },
                    { "data": "bloodType" },
                    { "data": "active" }
                    ]
                })
            })
        })
        
    </script>
}