@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Asker Airsoft Team</h1>
    <h2 class="display-2">Asker Tracker homepage</h2>
</div>